* {
  margin: 0;
  padding: 0;
}

.landing {
  background-image: url(../image/landing\ 1.jpg);
  min-height: calc(100vh - 58px);
  background-size: 100% 100%;
}

.home-text {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text p {
  font-size: 1.5rem;
}
.home-text h1 {
  font-size: 3rem;
}

@media (max-width: 536px) {
  .home-text p {
    font-size: 1rem;
  }
  .home-text h1 {
    font-size: 2rem;
  }
}

/*                           end landing page                         */

/*                                  start about section                        */

.sec-section {
  background-image: url(../image/landing.jpg);
  background-size: 100% 100%;
  min-height: 100vh;
}

.about-text p {
  width: 40rem;
  font-size: 1.5rem;
}

@media (max-width: 536px) {
  .about-text p {
    text-align: center;
    width: 24rem;
    padding:0 1rem ;
    font-size: 1.2rem;
  }

  .about-pic{
    display: none;
  }
  
  .about h1 {
    font-size: 3rem;
  }
}

.about-pic {
  background-image: url(../image/about-pic.jpg);
  min-height: 412px;
  min-width: 377px;
  background-size: 421px 371px;
  background-repeat: no-repeat;
}

/*                           end about page                         */

/*                           start how it work's page                         */

.how-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.how-img1 {
  background-image: url(../image/1img.jpg);
  min-height: 600px;
  min-width: 480px;
  background-size:450px 690px;
  background-repeat: no-repeat;
}

.how-img2 {
  background-image: url(../image/2img.jpg);
  min-height: 600px;
  min-width: 480px;
  background-size:450px 690px;
  background-repeat: no-repeat;
}

.how-img3 {
  background-image: url(../image/3img.jpg);
  min-height: 600px;
  min-width: 480px;
  background-size:450px 690px;
  background-repeat: no-repeat;
}

@media (max-width: 536px) {
  .how-cont {
    display: grid;
    grid-template-columns: 1fr;
  }
  .how-img1, .how-img2, .how-img3{
    min-height: 550px;
    min-width: 370px;
  }
}

.icon{
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.436);
}

.icon:hover{
  color: black;
}

footer {
  background-color: rgba(0, 0, 0, 0.366);
}

.sign{
  color: black;
}

.sign:hover{
  color: white;
}