.icon{
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.436);
}

.icon:hover{
  color: black;
}

.red{
  color: red;
}

.borderRed{
  border: 1 solid red;
}

.grey-image{
  background-image: url(./images/back.jpg);
  min-height: auto;
  height: 100%;
  width: 100%;
}

.foot{
  width: 100%;
}

@media (max-width:536px) {
  .foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

